.about {
    padding: 0 5%;
    width: 100%; height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100%; height: 50vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img title" "img text";
    justify-items: center;
    align-items: center;
    background-color: #00235e;
    border-radius: 30px;
    margin-bottom: 2%;
} .box .title {
    grid-area: 'title';
    justify-self: start;
    align-self: end ;
} .box .text {
    grid-area: 'text';
    justify-self: start;
    align-self: start ;
    color: white;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
} .list .text {
    width: 80%;
} .list .title {
    font-size: 35px;
} .list ol li{
    margin-bottom: 1%;
}

@media screen and (max-width: 768px) { 
    .about {
        height: 200vh;
    } .box {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 70% max-content 1fr;
        grid-template-areas: "img" "title" "text";
        justify-items: center;
        text-align: center;
        padding: 5% 0; 
    } .box .title {
        justify-self: center;
        align-self: end;
    } .box .text {
        justify-self: center;
        align-self: center;
    }   
} @media screen and (max-width: 576px) {
    .list {
        grid-template-columns: 1fr;
        grid-template-rows: 25% 1fr;
    } .list .text {
        width: 100%;
    } 
}