.footer {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top {
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: start;
    align-items: space-between;
} .top .rightBoxContainer {
    text-align: right;
    width: 50%; display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
} .top .leftBoxContainer {
    width: 50%;
    display: flex;
    gap: 3%;
} .top .leftBoxContainer .waBox {
    width: 150px;
    height: 20vh;
    background-image: url(../img/2227.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
    display: block;
} .top .leftBoxContainer .waBox:hover {
    transform: scale(1.1);
} .bottom {
    width: 100%; border-top: 3px solid #333;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
} .middle {
    height: 60vh; width: 100%;
    background-color: #00235e;
    padding: 1% 3%; border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
} .middle .title, .middle .text {
    color: #95b8f3;
} .middle .text {
    width: 100%;
} .middle .text.trans {
    color: #cddfff;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 130vh;
    } .footer .top {
        height: 30vh;
        flex-direction: column-reverse;
        justify-content: space-around;
    } .top .leftBoxContainer {
        justify-items: start;
        align-items: start;
        text-align: left;
        width: 100%; height: max-content;
    } .top .rightBoxContainer {
        width: 100%;
        text-align: left;
        align-items: start;
    } .footer .title {
        font-size: 40px;
    } .footer .text {
        font-size: 15px;
    } .waBox {
        width: 50px;
        height: 50px;
    }
} @media screen and (max-width: 576px) {
    .footer .text {
        font-size: 13px;
    }
}